<div class="panel panel-default">
<% if user_signed_in? %>
<div class="panel-heading">
  <%= "Welcome, #{current_user.username}" %>
</div>

<div class="panel-body">
<div>
	 <% if current_user.admin? %>
	 	<li><%= link_to 'See all user questions', requests_path %></li>
	 	<li><a href="http://www.google.com">Google</a></li>
	 <% else %>	
	<li><%= link_to 'Ask a new question', new_request_path %></li>
	<li><%= link_to 'See your question history', requests_path %></li>
</div>

	<% end %>

<% else %>
<div class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  You're new around here, you should sign up or login!
</div>
<% end %>
</div>