<div class="panel panel-default">
  <div class="panel-heading">Ask us anything</div>
  <div class="panel-body">

<%= render 'form' %>
</div>

<br>
<%= link_to 'Back', requests_path %>
<%= link_to 'Home', root_path %>

